@mixin standard-font{
	color: white;
	font-size: 16px;
	@media screen and (max-device-width: 700px){
		font-size: 40px;
	}
	font-family: "Courier New", Courier, monospace;
}

@mixin banner-font {
	color: white;
	font-size: 18px;
	@media screen and (max-device-width: 700px){
		font-size: 45px;
	}
	font-family: "Courier New", Courier, monospace;
};

@mixin round-edges($tl, $tr, $lr, $ll){
	border-radius: $tl $tr $lr $ll;
}

@mixin standard-input{
	border-radius: 50px;
	padding-left: 10px;
	&:focus{
		outline: none;
	}
}

$mini-icon: 25px;

body{
	margin: 0;
	padding: 0;
	background-color: rgba(255, 230, 255, 0.5);
	@media screen and (max-device-width: 700px){
		background-image: url('petals.gif-c200');
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: 100% 100%;
	}
}

.frame{
	border: 4px solid black;
	height: 300px;
}

.list{
	margin: 0;
	padding: 0;
	.ul-list{
	margin: 0;
	padding: 0;
		list-style: none;
		li{
			display: inline-block;
			margin: 0 0 0 5px;
		}
	}
}

.form{
	.half{
		width: 150px;
		@include standard-input;
	}

	.text-input{
		width: 300px;
		@include standard-input;
	}

	.input-btn{
		float: right;
  		cursor: pointer;
  		&:focus{
			outline: none;
		}
	}

	.mini-btn{
		width: $mini-icon;
		height: $mini-icon;
		&:hover{
			width: $mini-icon + 5px;
			height: $mini-icon + 5px;
		}
	}
}

#container{
	witdh: 100%;
	padding-top: 5%;
	@media screen and (max-device-width: 700px){
		padding-top: 14%;
	}
}

#banner{
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	background-color: rgb(255, 179, 179);
	@include banner-font;
	.banner-item{ 
		display: inline-block;
		margin: 8px 0 8px 5px;
	}

	#navbar{
	}

	#searchbox{
		margin-left: 55%;
		@media screen and (max-device-width: 700px){
			margin-left: 10%;
		}
		.form{
			#searchtext{
				height: 20px;
				@media screen and (max-device-width: 700px){
					height: 70px;
					font-size: 50px;
				}
			}
			.input-btn{
				border-radius: 50%;
				margin-left: 5px;
				background-color:	 rgb(255, 102, 102);
				background: url("search-icon.png") no-repeat scroll 0 0 transparent;
  				color: #000000;
				background-size: $mini-icon $mini-icon;
				@media screen and (max-device-width: 700px){
					width: 55px;
					height: 55px;
				}
			}
		}
	}
}

#register{
	margin: auto;
	padding-top: 2%;
	width: 400px;
	height: 150px;
	@media screen and (max-device-width: 700px){
		width: 800px;
		height: 370px;
	}
	background-color: rgba(255, 179, 179, 0.9);
	@include round-edges(0, 0, 50px, 50px);

	border: 4px solid rgb(255, 77, 255);

	.half{
		margin: 20px 0 10px 20px;
		display: inline-block;
		@media screen and (max-device-width: 700px){
			display: block;
			padding-left: 20px;
			margin: 0 0 20px 38px;
			width: 450px;
			height: 60px;
			font-size: 50px;
		}
	}

	.text-input{
		margin: 10px auto 10px;
		display: block;
		@media screen and (max-device-width: 700px){
			padding-left: 20px;
			margin: 0 auto 20px;
			width: 700px;
			height: 60px;
			font-size: 50px;
		}
	}

	.input-btn{
		float: none;
		margin: 10px auto 10px;
		display: block;
		border-radius: 50px;
		background-color: rgba(255, 77, 255, 0.5);
		@include standard-font;
		&:hover{
			background-color: green;
		}
		@media screen and (max-device-width: 700px){
			width: 250px;
		}
	}
}

#profile{
	margin: 0 20px 0 20px;
	max-height: 340px;
	#bios{
		width: 25%;
		display: inline-block;
		padding: 10px;
		float: left;
		div{
			max-height: 150px;
			display: inline-block;
			width: 98%;
		}
		.frame{
			border: 4px solid rgb(255, 153, 255);
		}
		.profile-frame{
			@include round-edges(50px, 50px, 0, 0);
			margin-bottom: 5px;
			#picture{
				margin: 25px 100px 25px 100px;
				width: 100px;
				height: 100px;
				border: 4px solid rgb(255, 153, 255);
				border-radius: 10px;
				background-image: url('http://placekitten.com/100/100');
			}
		}
		.caption{
			@include round-edges(0, 0, 50px, 50px);
			p{
				margin-left: 20px;
			}
		}
	}
	#description{
		width: 69%;
		height: 315px;
		display: inline-block;
		padding: 10px;
		float: right;
		.frame{
			padding: 10px 10px 0 10px;
			width: 99%;
			height: 98%;
			background-color: rgba(255, 153, 153, 0.8);
			border: 4px solid rgb(255, 153, 153);
			border-radius: 50px;
			.paper{
				padding: 15px 10px 0 10px;
				height: 275px;
			background-color: rgba(255, 230, 255, 0.5);
				border: 4px solid rgb(255, 153, 153);
				border-radius: 50px;
			}
		}
	}
}