@mixin round-edges($tl, $tr, $lr, $ll){
	border-radius: $tl $tr $lr $ll;
}

body{
	margin: 0;
	padding: 0;
	background-color: rgba(204, 230, 255, 0.3);
}

.list{
	margin: 0;
	padding: 0;
	.ul-list{
		margin: 0;
		margin: 0;
		list-style: none;
	}
	.nav-list{
		li{
			display: inline-block;
			margin-left: 10px;
		}
	}
}

#banner{
	width: 77%;
	border: 4px solid rgb(26, 102, 255);
	height: 35px;
	position: fixed;
	@include round-edges(0, 0, 10px, 0);
	.banner-item{
		display: inline-block;
	}
	#searchbox{
		margin-left: 69%;
	}
}

#container{
	padding-top: 2%;
}